body{
    margin: 0;
    padding: 0;
    font-family: "Open sans";
    
    
}


.navbar ul {
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 100;
    right: 0px;
    overflow: hidden;
    background-color: #00397b;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    box-shadow: 2px 2px 5px rgb(0,0,0,0.5) ;
    
    
}
.navbar ul li{
    list-style-type: none;
     
          

}
.navbar ul li a{
    text-decoration: none;
    padding: 20px;
    display: block;
    color: white;
    font-weight: bold;
    

}
.row{
    width:80%;
    min-height: 100px;
    margin: auto;
}



.row1{

    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    width:80%;
    min-height: 400px;
    margin: 50px auto;
    border-bottom:1px solid lightgray;
    overflow: hidden;
    background-color: white;
    
}

.content{
    padding: 35px;
    
}
.content h3{
    color: #00397b;
    font-weight: bold;
    font-size: 32px;
}