*{
    
    margin: 0;
    box-sizing: border-box;
    
}
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}


.content{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    

}
.content img{
    width: 100%;
    height: 100%;
    opacity: 0.5;

}

.content .nav{
    position: absolute;
    top: 0;
    right:0;
    width: 100%;
    

}
.content .nav ul{ 
    border-bottom: 1px hidden ;
     list-style-type: none;
    overflow: hidden;
    

 }

.content .nav ul li{
    float: right;
    
   

}
.content .nav ul li a{
    display: block;
    padding: 25px; color: white; 
    
    font-weight: bold;
    text-decoration: none;
}

.burger{display: none;  float: left;width: 25px; position:absolute; top: 30px;left: 14px}
.burger .line{
    background-color: white;
    width: 25px; height: 2px; margin: 5px;
}


.logo{
    float: left;
   
}
.logo li a{
    color: white;
    font-weight: bolder;
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.content h1{
    position: absolute;
     color: white; 
    left: 15%;
    top: 50%;
    font-size: 400%;
}
.content p{
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    left: 45%;
    bottom:30%;
    color: white; 
    display: block;
}
.content p a{
    text-decoration: none;
    color: whitesmoke

}

@media screen and (max-width:1000px)
{
    
    .content h1{
        top: 30%
    }
}
@media screen and (max-width: 500px){
    .content p{
        bottom: 5%;
    }
}


@media screen and (max-width: 700px)
{
    .burger{
        display: block;
    }
    .nav .nav-links{
       
       position: absolute;
       
       left:0;
       top: 80px;
       background-color: black;
       opacity: 0.5;
       transform: translateX(-100%); 
       
    }
    .nav .nav-links li{
        width: 100%;
        
        
    }
    .logo{
        position: absolute;
        left: 30%;
    }
}

.nav .nav-active{
    transform: translateX(0%);
    

}
